<p id="notice"><%= notice %></p>
<div class="container">
    <div class="panel panel-default"><br>
      <div class="panel panel-heading">
        <%= image_tag @pin.image.url(:large)  %>
      </div>
        <div class="panel panel-body">
          <p><strong> Description<%=@pin.description %></strong></p>
        </div>
      <% if @pin.user == current_user %>
        <%= link_to edit_pin_path(@pin) do %>
        <span class="glyphicon glyphicon-edit"></span>

        <% end %>
      <% end %>
      <%= link_to pins_path do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <% end %>
    </div>
</div>
